.routeViewWrapper {
  display: flex;
  padding: 64px;
}
.headerText {
  line-height: 28px;
  font-size: 32px;
  font-weight: 700;
}
.descriptionText {
  line-height: 17px;
  font-size: 15px;
  font-weight: 400;
  color: grey;
}
.createBtn {
  cursor: pointer;
  border-radius: 6px;
  padding: 8px;
  background-color: black;
  color: white;
  margin-bottom: 32px;
}
.routesWrapper {
  max-width: 600px;
}
